{% extends 'portal/auth_layout.html' %}
{% load static %}


{% block div %}


<div class="login-box text-dark">
  {% if message %}
  <div class="alert alert-success">
    <strong>Email Sent!</strong>
    </div>
  {% endif %}
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="" class="h1"><b>Parent's Portal</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">We will send you an email to change your password</p>
        <p class="login-box-msg">Follow the link to reset your password</p>
		<form action="{% url 'mail_sent' %}" method="post">
			{% csrf_token %}
            <div class="col-12">
				<button type="submit" class="btn btn-primary btn-block">Proceed ?</button>
            </div>
		</form>
            <!-- /.col -->
        </div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>


{% endblock %}