{% load markdown_deux_tags %}
{% markdown_allowed %}
{% markdown STYLE %}

# h1 heading #
## h2 heading ##
__This is bold text__
_this is italics_
~~This is strikethrough~~
**__Extremely important__**
<sub>subscripts</sub>
<sup>superscript</sup>
>A quote
`This is code`
```Code in block ```
[Link](google.com) -> can also be a relative path
![Alt text of image](https://telegra.ph/file/cdf26bb0538114b5c170f.jpg)
- UnOrdered list item 1
* UnOrdered list item 2
+ UnOrdered list item 3
1. Ordered list item 1
    - First nested line
        - Second nested line 
2. Ordered list item 

[x] Completed task
[] Incomplete task
:EMOJI CODE
<!-- Comments invisible-->
\* Escape sequence

{% endmarkdown %}



