{% extends 'portal/auth_layout.html' %}
{% load static %}


{% block div %}


<div class="login-box text-dark">
  {% if message %}
  <div class="alert alert-success">
    <strong>Email Sent!</strong>
  </div>
  {% endif %}
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h1"><b>Parent's Portal</b></a>
    </div>
    <img class="logo-img" src="{% static 'portal/dist/img/AdminLTELogo.png' %}" alt="" srcset="">
    <div class="card-body">
      <p class="login-box-msg">We will send you an email to change your password</p>
      <p class="login-box-msg">Follow the link to reset your password</p>
      <form action="{% url 'proceed' %}" method="post">
        {% csrf_token %}
        <div class="col-12">
          {%if message %}
          <a href=""><button type="submit" class="btn btn-primary btn-block" disabled>Proceed ?</button></a>
          {% else %}
          <a href=""><button type="submit" class="btn btn-primary btn-block">Proceed ?</button></a>
          {% endif %}

        </div>
      </form>
      <!-- /.col -->
    </div>
  </div>
  <!-- /.login-card-body -->
</div>
</div>


{% endblock %}