{% extends 'portal/layout.html' %}
{% load static %}

{% block content-wrapper %}

<style>
  footer {
    display: none;
  }

  .pdf-img {
    height: 90px;
  }

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
  }

  .header p {
    margin: 0;
  }

  .invoice {
    margin-left: 10px;
  }

  u {
    margin-bottom: 20px;
  }
</style>

<div class="content-wrapper" style="min-height: 2645.77px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Fees Statement
      <!-- <small>Version 2.0</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa-solid fa-hand-pointer"></i> Choose</a></li>
      <li class="active"><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
    </ol>
  </section>

  <section class="invoice">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12-table-responsive">
                <div class="header-wrapper">
                  <div class="header">
                    <img class="pdf-img" src="{% static 'portal/dist/img/AdminLTELogo.png' %}" alt="">
                    <b>SOUTH B BRANCH</b>
                    <p>P.O BOX 66346-00800 NAIROBI<br>TEL:0713769176/0720661383<br>info@thearkjuniorschool.com</p>
                    <b><i>
                        <p style="margin: 5px;"> Learn To Excel</p>
                      </i></b>
                    <u><b>STATEMENT OF ACCOUNT</b></u>
                  </div>
                </div>

                <div class="subheader">
                  <p>REG. NO: {{ data.id }}</p>
                  <p>NAME: {{ data.name }}</p>
                  <p>PROGRAMME: {{ data.programme }}</p>
                </div>

                <table id="table" class="table table-striped">

                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Particulars</th>
                      <th>Debit</th>
                      <th>Credit</th>
                      <th>Bal (KES:)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>Balance B/F ...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>{{ data.bf }}</td>
                    </tr>
                    {% for row in data.rows %}
                    {% if "/23" not in row.date %}

                    {% else %} <tr>
                      <td>{{ row.date }}</td>
                      <td>{{ row.particular }}</td>
                      {% if row.debit <= 0 %} <td>
                        </td>
                        {% else %}
                        <td>{{ row.debit }}</td>
                        {% endif %}
                        {% if row.credit <= 0 %} <td>
                          </td>
                          {% else %}
                          <td>{{ row.credit }}</td>
                          {% endif %}
                          <td>{{ row.bal }}</td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          <tr>
                            <td><b>Total</b></td>
                            <td></td>

                            <td>{{ data.paid }}</td>
                            <td>{{ data.billed }}</td>
                            <td><b>{{ data.balance }}</b> </td>
                          </tr>
                </table>
              </div>

            </div>




            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <!-- <a onclick="{()=>console.log('Clicked')}" rel="noopener" target="_blank"
                  class="btn btn-default"><i class="fas fa-print"></i> Print</a> -->
                <a href="{% url 'statement_print' id %}" onclick="{print_pdf()}"><button type="button"
                    class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button></a>

              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script>
  function print_pdf() {

    window.print()

  }
</script>

{% endblock %}