.flex-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap !important;
  margin: 0 auto;
  row-gap: 20px;
}

.flex-item {
  width: 30%;
  cursor: pointer;
}

.lockscreen-name {
  font-size: small;
  margin-left: 20px;
}

button p {
  display: none;
}

.btn>i {
  margin-top: 10px;
}

.alert {
  width: 50%;
  margin: 10px auto;
}

.input-group input {
  text-align: center;
}

.lockscreen-logo a {
  color: #007bff;
  font-weight: bolder;
}

.lockscreen-logo a:hover {
  color: black;
}

.lockscreen-logo {
  margin-bottom: 30px;
}

.wrapper {
  padding: 40px;
}

@media (max-width: 500px) {
  .flex-item {
    width: 100%;
  }

}